
.sidebar{
	background: #f6f6f6;
	width: 180px;
}
#wikilogo{
	width: 100%;
}
.wrap{
	margin-top: 100px;
}
.wikitop{
	height: 90px;
	background: #f6f6f6;
}
.col1, .col2, .col3, .col4, .wikitop{
	border: 1px solid #d4ccdf;
}
h2{
	border: 1px solid #d4ccdf;
}
.col1{
	background: #f5fffa;
}
.col1 h2{
	background: #cef2e0;

}
.col2{
	background: #f5faff;
}
.col2 h2{
	background-color: #cedff2;
}
.col3{
	background: #faf5ff;
}
.col h2{
	background: #f2cedd;
}
.col4{
	background: #e9e4f0;
}
.col4 h2 {
	background: #ddcef2;
}
.col3, .col 4{
	display: block;
}
row1{
	display: block;
}
img{
	max-height: 200px;
}
[div^=col] p{
	padding: 10px;
}
.row2{
	position: absolute;
	bottom: 0;
	margin-bottom: -400px;
}
.topper{
	background: transparent;
}
#prank{
	display: none;
}
